<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Profile</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>MY  PROFILE</h1>
            <div class="jumbotron">
                <img src="https://storage.googleapis.com/a-web-require-file/img/profile.png" alt="profile-picture">
                <h2>Anugerah Christian</h2>
                <p>Student Bangkit 2022</p>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="profile-summary">
                <h2>Profile Summary</h2>
            <p>Hi, I am Anugerah Christian. I am an Informatics Engineering student at Nusa Mandiri University. I have one vision in my live that’s, always learning new things, and then sharing them with others. I am very interested in IT, especially in UI / UX Design, Software Development, Back-end Programming and Cloud Computing.<br><br>
                The skills that I have now is IT Essentials from following bootcamp digitalent kominfo and I am also try increasing my skills in Back-end programming and Cloud Computing. Finally my goal is to become a Professional Programmer, especially in Cloud Computing.
            </p>
            </div>
            <div class="personal-information">
                <h2>Personal Information</h2>
                <table class="table-query">
                    <tr>
                        <th>Age</th>
                        <td>: 20 years old</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>: +62 895622268652</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="find-me-on">
            <p>Follow Me On</p>
        <div class="sosial-media">
            <div><a href="https://www.instagram.com/_achristx/"><img src="https://storage.googleapis.com/a-web-require-file/img/ig-logo.png" class="logo-sosmed"></a></div>
            <div><a href="https://github.com/anugerahc/"><img src="https://storage.googleapis.com/a-web-require-file/img/GitHub-Mark-32px.png" class="logo-sosmed-github"></a></div>
            <div><a href="https://www.linkedin.com/in/anugerah-christian-ab9b37151/"><img src="https://storage.googleapis.com/a-web-require-file/img/linkedin-logo.png" class="logo-sosmed"></a></div>
            <div><a href="https://t.me/cimorysusuindonesia31"><img src="https://storage.googleapis.com/a-web-require-file/img/telegram-ig.png" class="logo-sosmed"></a></div>
            <div><a href="https://www.facebook.com/CrZXrgtr.YsXgFuDr/"><img src="https://storage.googleapis.com/a-web-require-file/img/facebook-logo.png" class="logo-sosmed"></a></div>
        </div>
        </div>
        
    </main>
</body>
</html>